:root {
  --primary: #1888ff;
}

.btn-material {
  padding: 8px 20px !important;
  border-radius: 4px !important;
  outline: none !important;
  border: none !important;
  font-size: 18px !important;
  color: #fff !important;
  cursor: pointer !important;
  background-color: var(--primary) !important;
}

.btn-material:hover {
  padding: 6px 18px;
  transition: all 0.3s ease-out;
  background-color: transparent;
  color: #fff;
  border-radius: 4px;
  border: 2px solid var(--primary);
  transition: all 0.3s ease-out;
}
